@import url('reset.css');

body {
    background-color: #000000;
}

p {
    color: #FFFFFF;
}

.banner {
    height: 620px;
    background: linear-gradient(#00000099,#31a8dd33,#00000099), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
    width: 600px;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.banner .logo {
    background-color: #00000075;
    margin: auto;
    height: 260px;
    width: 260px;
    padding: 9px;
    padding-top: 20px;
    border-radius: 100%;
}

.banner h1 {
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    padding: 15px 0 15px;
}

.banner p {
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding-bottom: 25px;
    
}

.banner button {
    width: 350px;
    height: 60px;
    color: #31A8DD;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 2;
    letter-spacing: 4px;
}

h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #31A8DD;
    font-weight: 700;
    padding-top: 100px;
    letter-spacing: 4px;
    width: 700px;
    margin: auto;
}

#course-content p {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 800px;
    margin: auto;
}

.module {
    width: 535px;
    height: 51px;
    background-color: #252525;
    padding: 15px 0px 15px;
    color: #FFFFFF;
    text-align: center;
    margin: 25px auto;
    box-shadow: 0px 5px 5px #111111 inset;
    border-radius: 50px;
    border: 1.5px solid transparent;
    background-image: linear-gradient(#252525, #252525), linear-gradient(45deg, #3BA1CD, #1572B7);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.module span {
    color: #31A8DD;
}

#course-content {
    height: 500px;
    border-bottom: 1px solid #33A8DB;
}

#transform-world {
    background: url('../images/woman-code.png');
    height: 363px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p {
    color: #FFFFFF;
    font-weight: 900;
    text-transform: lowercase;
    font-size: 40px;
    text-shadow: 3px 3px #33A8DB;
    width: 250px;
    text-align: left;
    padding-top: 5.5%;
    margin-left: 10%;
}

#professional-challenges {
    margin:  -25px auto 75px;
    text-align: center;
    width: 700px;
    font-weight: 400;
}
#professional-challenges img {
    padding: 45px 0px 45px;
}

footer {
    border-top: 1px solid #33A8DB;
    padding: 50px 0px 25px;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(#000000, #33a9db3a);
}
footer a {
    color: #31A8DD;
    text-decoration: none;
    font-weight: 700;
}